.vscode
.idea
.DS_Store
*.js
*.js.map
*.d.ts
!index.d.ts
*.log
!src/scripts/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
!demo/references.d.ts
demo/lib
demo/platforms
demo/node_modules
node_modules
publish/src
publish/package