button {
  color: #ffffff;
  padding: 6 10;
  margin: 8 30;
  font-size: 13;
  border-radius: 4;
}

Image {
  margin: 16 0 0 0;
}

.title {
  color: #333;
  font-size: 20;
  horizontal-align: center;
  padding-top: 24;
}

.message {
  color: #333;
  font-size: 18;
  horizontal-align: center;
  padding-top: 30;
  padding-bottom: 20;
}

.button-a {
  background-color: #51ae8c;
}

.button-b {
  background-color: #516a78;
}

.button-c {
  background-color: #f18b34;
}

.button-d {
  background-color: #ee664c;
}

.button-e {
  background-color: #73b7e8;
}

.button-custom-f {
  background-color: yellowgreen;
}
